<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>template_syntax</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<ul id="example-1">
  <li v-for="item in items">
    {{ item.message }}
  </li>
</ul>
<ul id="example-2">
  <li v-for="(item, index) in items">
    {{ parentMessage }} - {{ index }} {{ item.message }}
  </li>
</ul>
<ul id="v-for-object" class="demo">
  <li v-for="(value, key, index) of object">
    {{ index }}. {{ key }}: {{ value }}
  </li>
</ul>
<ul id="numbers">
  <li v-for="n in evenNumbers">
    {{ n }}
  </li>
</ul>
<div id="range">
  <span v-for="n in 10">{{ n }}</span>
</div>
<ul id="items">
  <template v-for="item in items">
    <li>{{ item.message }}</li>
    <li class="divider" role="presentation"></li>
  </template>
</ul>
</body>
<script src="./index.js"></script>
</html>